.customer {
  overflow: hidden;
  background: #f6f6f6;
  padding-bottom: 200px;
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__title {
    display: block;
    width: 80%;
    font: 500 35px/50px $rubik;
    color: $black;
    margin-bottom: 20px;
    @media (max-width: 1200px) {
      width: auto;
    }
  }
  &__excerpt {
    font: 400 16px/30px $rubik;
    color: $grey;
    margin-bottom: 60px;
    span {
      font: 500 16px/30px $rubik;
    }
  }

  &__slide {
    width: 400px;
    height: 230px;
    padding: 30px;
    margin-right: 50px;
    border: 2px solid #dddddd;
    border-radius: 10px;
    &:hover {
      border: 2px solid $red;
    }
    @media (max-width: 576px) {
      width: 300px;
      padding: 15px;
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__wrap {
    display: flex;
    align-items: center;
    //justify-content: center;
  }
  &__name {
    margin-left: 20px;
    font: 500 18px/18px $rubik;
    color: $black;
    span {
      font: 400 14px/18px $rubik;
      color: $grey;
      &::before {
        content: "\A";
        white-space: pre;
      }
    }
  }
  &__rating {
    display: flex;
    align-items: center;
  }
  &__stars {
    font: 500 16px/30px $rubik;
    &::after {
      content: "";
      display: inline-block;
      height: 16px;
      width: 16px;
      background-image: url(../images/svg/star.svg);
      background-size: contain;
      background-repeat: no-repeat;
      margin-left: 10px;
      vertical-align: -5%;
    }
  }
  &__text {
    font: 400 16px/30px $rubik;
    color: $black;
  }
}

//SLIDER

.slick {
  &-nav {
	 width: 100%;
	 margin-top: 82.5px;
	 display: flex;
	 order: 1;
	 justify-content: space-between;
  }
  &-dots {
	 display: flex;
	 align-items: center;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      display: inline-block;
      width: 15px;
      height: 15px;
      margin: 0 15px;
      padding: 0;
      cursor: pointer;
      button {
        font-size: 0;
        &:before {
          top: 1px;
          transition: all 0.5s;
          content: "";
          width: 15px;
          height: 15px;
          background-color: #dde0e4;
          border-radius: 50%;
          position: absolute;
        }
      }
      &.slick-active {
        width: 15px;
        height: 15px;
        margin-left: 15px;
        button {
          &:before {
            top: 1px;
            transition: all 0.5s;
            content: "";
            left: 50%;
            transform: translate(-50%, 0);
            width: 45px;
            height: 15px;
            background-color: $red;
            border-radius: 10px;
            position: absolute;
          }
        }
      }
    }
  }
  &-list {
    overflow: visible;
  }
  &-arrows{
	  display: flex;
	  order: 2;
  }
  &-arrow {
    background: #f6f6f6;
    border: 2px solid $red;
    border-radius: 50%;
    padding: 20px 21.25px;
    &:active {
      fill: #fff;
    }
    &:hover {
      background: $red;
      svg path {
        fill: #fff;
      }
    }
  }

  &-prev {
    left: 0;
  }
  &-next {
    right: 0;
    transform: rotate(180deg);
    margin-left: 20px;
  }
  //   &-arrow {
  //     top: 50%;
  //     margin-top: -13px;
  //     position: absolute;
  //     font-size: 0;
  //     cursor: pointer;
  //   }
}
