.feature {
	margin-bottom: 130px;
	&__image{
		width: 100%;
	}
  &__info {
    padding-top: 45px;
  }
  &__title {
    font: 500 35px/50px $rubik;
    color: $black;
    margin-bottom: 20px;
  }
  &__excerpt {
    font: 400 16px/30px $rubik;
    color: $grey;
    margin-bottom: 20px;
  }
  &__list {
    font: 400 16px/30px $rubik;
    color: $grey;
  }
  &__item {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      content: "";
      display: inline-block;
      height: 20px;
		width: 20px;
		background-image: url(../images/svg/checkmark.svg);
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 12px;
    }
  }
}
