.intro {
  margin-top: 90px;
  &__info {
    padding-top: 28px;
  }
  &__title {
    font: 500 50px/70px $rubik;
    color: $black;
    margin-bottom: 20px;
    span {
      font: 700 50px/70px $rubik;
    }
  }
  &__excerpt {
    font: 400 16px/30px $rubik;
    color: $grey;
    margin-bottom: 50px;
    span {
      font: 500 16px/30px $rubik;
    }
  }
  &__button {
    display: table;
    color: #fff;
    padding: 17.5px 77.5px;
    background: $red;
	 border-radius: 10px;
	 white-space: nowrap;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 85%;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 0;
      height: 100%;
      z-index: -1;
      box-shadow: 0px 25px 54px rgba(245, 56, 56, 0.35);
      border-radius: 10px;
    }
  }

  &__image{
	@media (max-width: 1254px) {
		width: 100%;
	}
  }
  &__wrap{
	  height: 200px;
	  width: 100%;
	  margin-top: 105px;
	  margin-bottom: 96px;
	  border-radius: 10px;
	  display: flex;
	  justify-content: space-between;
	  flex-direction: row;
	  position: relative;
	  &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 0;
		height: 100%;
		width: 100%;
      z-index: -1;
		box-shadow: 0px 42px 114px #0D1025;
		opacity: 0.06;
		border-radius: 10px;
    }
  }
  &__data {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 &:first-child{
		 margin-left: 91px;
	 }
	 &:last-child{
		 margin-right: 91px;
	 }
	 @media (max-width: 768px) {
		 flex-flow: column;
      &:first-child{
			margin-left: 0px;
		}
		&:last-child{
			margin-right: 0px;
		}
    }
  }
  &__text {
	  margin-left: 37px;
    p {
      font: 700 25px/30px $rubik;
      color: $black;
      span {
        font: 400 20px/30px $rubik;
		  color: $grey;
		  &::before{
			content: '\A';
			white-space: pre;
		  }
      }
	 }
	 @media (max-width: 768px) {
		 margin-left: 0;
		 text-align: center;
	 }
  }
}
